<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <section> 
            <a href="/">
                <button>INICIO</button>
            </a>

            <a href="Login">
                <button>LOGIN</button>
            </a>
            
            <a href="Registro">
                <button>REGISTRO</button>
            </a>    
            
        </section>
        <img src="{% static 'imagenes/logoo.jpeg' %}" class="logop" alt="logo">
    </nav>

    <header>
        <img src="{% static 'imagenes/poli.png' %}" class="logopoli" alt="logo">
    </header>

    <section style="width: 80%;
    margin: 50px auto; 
    background-color:rgb(43, 97, 117);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 20px;">
        <h2 style="display: flex;">Ayuda</h2>

            
        <section id="servicios">
            <h2>Nuestros Servicios</h2>
            <p>Sumérgete en un mundo de serenidad con nuestra amplia gama de servicios de spa, diseñados para revitalizar tu cuerpo, mente y espíritu. Desde masajes terapéuticos hasta tratamientos faciales rejuvenecedores, cada sesión es una oportunidad para renovarte.</p>
        </section>

        <section id="profesionales">
            <h2>Profesionales Expertos</h2>
            <p>Nuestro equipo de terapeutas altamente capacitados está dedicado a proporcionarte la atención personalizada que mereces. Con un enfoque holístico, cada tratamiento se adapta a tus necesidades individuales, garantizando una experiencia spa única y satisfactoria.</p>
        </section>

        <section id="ambiente">
            <h2>Ambiente Tranquilo</h2>
            <p>Nos enorgullece ofrecer un entorno acogedor y sereno, diseñado para alejarte del estrés diario. Cada rincón de nuestro spa ha sido creado para fomentar la relajación, desde la iluminación tenue hasta la música suave, todo pensado para brindarte una escapada inolvidable.</p>
        </section>

        <section id="preguntas">
            <h2>Preguntas Frecuentes</h2>
            <p>Entendemos que puedas tener preguntas sobre nuestros servicios y procedimientos. Hemos recopilado las preguntas más frecuentes para proporcionarte respuestas claras y detalladas. Si no encuentras lo que buscas, no dudes en contactarnos; nuestro amable equipo de atención al cliente está aquí para ayudarte.</p>
        </section>

        <section id="compromiso">
            <h2>Compromiso con tu Bienestar</h2>
            <p>En Beauty Spa, tu satisfacción y bienestar son nuestra máxima prioridad. Trabajamos continuamente para mejorar nuestros servicios y proporcionar experiencias excepcionales. Si tienes alguna sugerencia o comentario, ¡nos encantaría escucharte!</p>
        </section>


    </section>
    <hr>
    <main>
        
        <section>
            <strong>Habilidades</strong>
            <ul>
                <li>Lógica</li>
                <li>Adaptabilidad</li>
                <li>Eficiencia</li>
                <li>Trabajo en equipo</li>
            </ul>
            <Strong>Herramientas</Strong>
            <ul >
                <li>Java</li>
                <li>Paython</li>
                <li>JavaScript</li>
                <li>HTML</li>
                <LI>CSS</LI>
            </ul>
        </section>
        <section id="informacionPersonal">
            <img src="{% static 'imagenes/yo.jpeg' %}" class="photopropia" alt="logo">
            <div id="info" >
                <div><Strong>Nombre: </Strong> <p> John Kider</p></div>
                <div><strong>Apellido: </strong> <p> Alzate Garcia</p></div>
                <div><strong>Cedula: </strong> <p> 123456</p></div>
                <div><strong>Email: </strong> <p>john_alzate82222@elpoli.edu.co</p></div>
            </div>
        </section>
    </main>
</body>
</html>