<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <section> 
            <a href="Login">
                <button>LOGIN</button>
            </a>
            
            <a href="Registro">
                <button>REGISTRO</button>
            </a>    
            
            <a href="Ayuda">
                <button>AYUDA</button>
            </a>    

        </section>
        <img src="{% static 'imagenes/logoo.jpeg' %}" class="logop" alt="logo">
    </nav>

    <header>
        <img src="{% static 'imagenes/poli.png' %}" class="logopoli" alt="logo">
    </header>

    <main>
        <section>
            <strong>Habilidades</strong>
            <ul>
                <li>Lógica</li>
                <li>Adaptabilidad</li>
                <li>Eficiencia</li>
                <li>Trabajo en equipo</li>
            </ul>
            <Strong>Herramientas</Strong>
            <ul >
                <li>Java</li>
                <li>Paython</li>
                <li>JavaScript</li>
                <li>HTML</li>
                <LI>CSS</LI>
            </ul>
        </section>
        <section id="informacionPersonal">
            <img src="{% static 'imagenes/yo.jpeg' %}" class="photopropia" alt="logo">
            <div id="info" >
                <div><Strong>Nombre: </Strong> <p> John Kider</p></div>
                <div><strong>Apellido: </strong> <p> Alzate Garcia</p></div>
                <div><strong>Cedula: </strong> <p> 123456</p></div>
                <div><strong>Email: </strong> <p>john_alzate82222@elpoli.edu.co</p></div>
            </div>
        </section>
    </main>
</body>
</html>