<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <section> 
            <a href="/">
                <button>INICIO</button>
            </a>
            
        </section>
        <img src="{% static 'imagenes/logoo.jpeg' %}" class="logop" alt="logo">
    </nav>

    <header id="log">
        <img id="logopoli2" src="{% static 'imagenes/poli.png' %}" alt="logo">
        <section style="flex-grow: 1; margin-left: 10px;">
            <h2>ENTREGABLE 4</h2>
            <form method="post" style="display: flex; flex-wrap: wrap; align-items: center;">
                {% csrf_token %}
                <div style="margin-right: 10px;">
                    <strong>Usuario</strong>
                    <input name="usuario" type="text" required>
                </div>
                <div style="margin-right: 10px;">
                    <strong>Password</strong>
                    <input name="Password" type="password" required>
                </div>
                <div >
                    <button class="registrol" type="submit">Login</button>
                </div>
                
            </form>
            <a  href="/Registro">
                <button style="font-size: large;border-color:black; border-style:groove ;margin-left: 45%;display:flex;justify-content: space-between;">Registrarse</button>
            </a>
            <p>{{error}}</p>
        </section>
    </header>

    <main>
        <section>
            <strong>Habilidades</strong>
            <ul>
                <li>Lógica</li>
                <li>Adaptabilidad</li>
                <li>Eficiencia</li>
                <li>Trabajo en equipo</li>
            </ul>
            <Strong>Herramientas</Strong>
            <ul >
                <li>Java</li>
                <li>Paython</li>
                <li>JavaScript</li>
                <li>HTML</li>
                <LI>CSS</LI>
            </ul>
        </section>
        <section id="informacionPersonal">
            <img src="{% static 'imagenes/yo.jpeg' %}" class="photopropia" alt="logo">
            <div id="info" >
                <div><Strong>Nombre : </Strong> <p class="ts"> John Kider</p></div>
                <div><strong>Apellido : </strong> <p class="ts"> Alzate Garcia</p></div>
                <div><strong>Cedula : </strong> <p class="ts"> 123456</p></div>
                <div><strong>Email : </strong> <p class="ts">    john_alzate82222@elpoli.edu.co</p></div>
            </div>
        </section>
    </main>
</body>
</html>