<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <style>
    
      body {
        background-color: #e6e6e6;
        font-family: 'Arial', sans-serif;
        color: #333;
      }
  
      .container {
        margin-top: 40px;
      }
  
      h2, h3 {
        color: #007bff; 
      }
  
      p {
        font-size: 18px;
        line-height: 1.6;
      }
  
      ul {
        list-style-type: none;
        padding: 0;
      }
  
      ul li {
        margin-bottom: 10px;
      }
  
      .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
      }
  
      .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
      }
      .navbar-nav a.nav-link {
        color: black;
        transition: color 0.3s ease; 
      }
      .navbar-nav a.nav-link:hover {
        color: grey;
      }
    
  </style>
</head>
<body>
  <div class="hstack gap-3">
    <div class=></div>
    <div class=" ms-auto"></div>
    <div class= "productos">Servicios Contables Ms</div>
  </div>  
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid menu">
      <a class="navbar-brand" href="/">
        <img src="{% static 'imagenes/logo.jpeg' %}" class="logo" alt=""> 
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <h4>Tu Futuro Financiero, Nuestro Objetivo!</h4>
        <div class="navbar-nav ms-auto">
          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
          <a class="nav-link" href="Login">Login</a>
          <a class="nav-link" href="Registro">Registro</a>
          <a class="nav-link" href="#servicios">Servicios</a>
        </div>
      </div>
    </div>
  </nav>

  <main>

    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner ">
        <div class="carousel-item active">
          <img src="{% static 'imagenes/1.jfif' %}" class="d-block w-100 carrusel" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'imagenes/2.jpg' %}" class="d-block w-100 carrusel" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'imagenes/3.jpg' %}" class="d-block w-100 carrusel" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="container">
      
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">Quiénes Somos</h2>
          <p>En Asesorías Contables y Tributarias MS, somos más que una firma de contabilidad. Nuestro equipo comprometido de profesionales apasionados fusiona habilidades técnicas con un enfoque personalizado. Con años de experiencia, nos destacamos en ofrecer soluciones financieras sólidas y adaptadas a las necesidades específicas de cada cliente.</p>
          <p>La transparencia, la ética y la innovación son fundamentales en nuestra filosofía. No solo proporcionamos servicios contables precisos, sino que también nos convertimos en aliados comerciales que buscan su éxito financiero. Nuestro compromiso con la excelencia nos distingue, asegurando que cada cliente reciba la atención personalizada que merece.</p>
        </div>
      </div>
  
      
      <div class="row mt-4" id="servicios">
        <div class="col-md-12">
          <h2 class="text-center">Ayuda y Servicios de Contabilidad</h2>
          <p>El equipo de Asesorías Contables y Tributarias MS está aquí para ofrecer orientación y apoyo integral en todas las necesidades financieras. Desde servicios contables y planificación fiscal hasta asesoramiento financiero, nos adaptamos a cada empresa para fomentar su éxito financiero a largo plazo.</p>
        </div>
      </div>
  
     
      <div class="row mt-4">
        <div class="col-md-12">
          <h3>Servicios Contables</h3>
          <ul>
            <li>Brindamos servicios completos, desde la preparación de estados financieros hasta la gestión de cuentas por pagar y por cobrar.</li>
          </ul>
        </div>
      </div>
  
      
      <div class="row mt-4">
        <div class="col-md-12">
          <h3>Planificación Fiscal</h3>
          <ul>
            <li>Desarrollamos estrategias fiscales efectivas para minimizar la carga impositiva y optimizar su posición financiera.</li>
          </ul>
        </div>
      </div>
  
      
      <div class="row mt-4">
        <div class="col-md-12">
          <h3>Asesoramiento Financiero</h3>
          <ul>
            <li>Ofrecemos guía integral para alcanzar objetivos financieros, desde la planificación de inversiones hasta la gestión de flujo de efectivo.</li>
          </ul>
        </div>
      </div>
  
      
      <div class="row mt-4">
        <div class="col-md-12">
          <h3>Cumplimiento Normativo</h3>
          <ul>
            <li>Mantenemos su empresa en cumplimiento con las normativas contables y fiscales, garantizando presentaciones precisas y oportunas.</li>
          </ul>
        </div>
      </div>
  
      
      <div class="row mt-4">
        <div class="col-md-12 text-center">
          <p>Asesorías Contables y Tributarias MS es su socio confiable en el camino hacia el éxito financiero.</p>
          <p>Registrese para una vista mas personalizada</p>
          <a href="Registro" class="btn btn-primary">Registro</a>
        </div>
      </div>
    </div>
  

  </main>
  <footer style="background-color: #f8f9fa; padding: 20px;">
    <div class="container">
        <div class="row">
            <h3>Contactenos</h3>
            <p>Para más información, no dudes en ponerte en contacto con nosotros.</p>

            <div style="margin-top: 20px;">
                <p><strong>Servicios Contables Ms</strong></p>
                <p>Teléfono: +123456789</p>
                <p>Correo electrónico: info@empresa.com</p>
            </div>
        </div>
    </div>
  </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>