<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
      body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        background-image: url("{% static 'imagenes/logo.jpeg' %}"); 
        background-position: center;
        background-size:auto;
      }
  
      .form-container {
        background-color: rgba(255, 255, 255, 0.8); 
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
        text-align: center;
        margin: auto;
      }
  
      .form-container input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
        border: 1px solid #ced4da;
        border-radius: 4px;
      }
  
      .form-container button {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
  
      .form-container button:hover {
        background-color: #0056b3;
      }
      .registro-link {
        margin-top: 10px;
        color: #007bff;
        text-decoration: none;
        display: block;
      }
      .navbar-nav a.nav-link {
        color: black;
        transition: color 0.3s ease; 
      }
      .navbar-nav a.nav-link:hover {
        color: grey;
      }
    </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg" style="background:#c8c8c8; background-color: rgba(255, 255, 255, 0.8);">
    <div class="container-fluid menu">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <h4>Tu Futuro Financiero, Nuestro Objetivo!</h4>
        <div class="navbar-nav ms-auto">
          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
          <a class="nav-link" href="/Registro">Registro</a>
        </div>
      </div>
    </div>
  </nav>

  <div class="form-container">
    <h2>Iniciar Sesión</h2>
    <form method="post">
      {% csrf_token %}
      <input type="text" name="usuario" placeholder="Nombre de usuario" required>
      <input type="password" name="pasword" placeholder="Contraseña" required>
      <button type="submit">Iniciar Sesión</button>
    </form>
    <p>{{error}}</p>
    <a class="registro-link" href="/Registro">¿No tienes una cuenta? Regístrate</a>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>