<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <section> 
            <a href="/">
                <button>INICIO</button>
            </a>
            
        </section>
        <img src="{% static 'imagenes/logoo.jpeg' %}" class="logop" alt="logo">
    </nav>

   <main id="categorias">
        <section >
            <h1>Categoria 1</h1>
            <a href="{% url 'infoCategorias' 'Categorias' %}">
                <button style="margin:2% ; padding:1%;">Ver Mas</button>
            </a>
            <div id="imgCat">

                <div id="subimgCat">
                    <img  src="{% static 'imagenes/productos/1.jpeg' %}" alt="">
                    <div>
                    
                        <div>
                            <strong style=" font-size: 25px;">Nombre</strong>
                            <p style="font-style: italic; font-size: 17px;">producto 1</p>
                            <strong style=" font-size: 25px;">Precio</strong>
                            <p style="font-style: italic; font-size: 17px;">$00000</p>
                            <strong style=" font-size: 25px;">Categoria</strong>
                            <p style="font-style: italic;font-size: 17px;">Categoria 1</p>
                        </div>

                    </div>

                </div>

                <div id="subimgCat">
                    <a href="{% url 'compras' 'Compras' %}" style=" margin-right: 2%;
                    margin-left: 0%;
                    width: 400px;">
                        <img style=" margin-left:0%; margin-right:20%" src="{% static 'imagenes/productos/2.jpeg' %}" alt="">
                    </a>
                    <div>
                    
                        <div>
                            <strong style=" font-size: 25px;">Nombre</strong>
                            <p style="font-style: italic; font-size: 17px;">producto 1</p>
                            <strong style=" font-size: 25px;">Precio</strong>
                            <p style="font-style: italic; font-size: 17px;">$00000</p>
                            <strong style=" font-size: 25px;">Categoria</strong>
                            <p style="font-style: italic;font-size: 17px;">Categoria 1</p>
                        </div>

                    </div>

                </div>

            </div>
        </section>

        <section>
            <h1>Categoria 2</h1>
            <a href="#"><button style="margin:2% ; padding:1%;">Ver Mas</button></a>
            <div id="imgCat">
                
                <div id="subimgCat">
                    <img  src="{% static 'imagenes/productos/3.jpeg' %}" alt="">
                    <div>
                    
                        <div>
                            <strong style=" font-size: 25px;">Nombre</strong>
                            <p style="font-style: italic; font-size: 17px;">producto 1</p>
                            <strong style=" font-size: 25px;">Precio</strong>
                            <p style="font-style: italic; font-size: 17px;">$00000</p>
                            <strong style=" font-size: 25px;">Categoria</strong>
                            <p style="font-style: italic;font-size: 17px;">Categoria 1</p>
                        </div>

                    </div>

                </div>

                <div id="subimgCat">
                    <img  src="{% static 'imagenes/productos/4.jpeg' %}" alt="">
                    <div>
                    
                        <div>
                            <strong style=" font-size: 25px;">Nombre</strong>
                            <p style="font-style: italic; font-size: 17px;">producto 1</p>
                            <strong style=" font-size: 25px;">Precio</strong>
                            <p style="font-style: italic; font-size: 17px;">$00000</p>
                            <strong style=" font-size: 25px;">Categoria</strong>
                            <p style="font-style: italic;font-size: 17px;">Categoria 1</p>
                        </div>

                    </div>

                </div>

            </div>
        </section>
   </main>
</body>
</html>