<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <section> 
            <a href="/">
                <button>INICIO</button>
            </a>
            
        </section>
        <img src="{% static 'imagenes/logoo.jpeg' %}" class="logop" alt="logo">
    </nav><br>
    <h2>{{compra}}</h2><br>
    <main id="categorias1">
    
        <div class="container-fluid">

            <div class="row">

                <div class="col text-center">
                    <div class="row">
                        <h2>Descripcion del producto</h2><br><br>
                        <p style="font-weight: 650;">
                            Experimenta el lujo de nuestras manicura profesionales,
                            donde cada detalle se cuida con precisión. Relájate mientras 
                            transformamos tus uñas, mimándolas con un tratamiento completo que incluye limado, 
                            cutículas impecables y un esmaltado perfecto. Descubre la elegancia y el cuidado
                             experto que mereces para lucir unas uñas impecables y radiantes
                        </p><br>
                        <img class="py-3" style=" margin-right: 5%; margin-left: 15%; width: 400px;height: 300px;  " src="{% static 'imagenes/productos/4.jpeg' %}" alt="">
                    </div>
                    <div class="row">
                        <form class="py-2 row" style="display:inline-block">
                    
                            <Strong style="height: 5px; font-weight:900">Cantidad: </Strong>
                            <input style="width: 60px;" name="cantidad" type="number" placeholder="#" required>
                            
                        </form>
                        <a href="/Categorias/"><button type="submit" style="border-style: groove; border-color:black"><p style="font-weight: 600; font-size:larger">Comprar</p></button></a>
                    </div>    

                </div> 

                <div class="col ms-5">
                    <h2>Mas Productos</h2><br>
                    <div style="margin: 20px;">

                        <div style="position: relative;width: 100%; height: 100vh; overflow: hidden;">

                            <img src="{% static 'imagenes/productos/5.jpeg' %}" alt="Imagen 1" class="superpuesta img1">
                            <img src="{% static 'imagenes/productos/6.jpeg' %}" alt="Imagen 2" class="superpuesta img2">
                            <img src="{% static 'imagenes/productos/7.jpeg' %}" alt="Imagen 3" class="superpuesta img3">
                            
                        </div>

                </div>

                </div>

            </div>

        </div>
        
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html