<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <section> 
            <a href="/">
                <button>INICIO</button>
            </a>
            
        </section>
        <img src="{% static 'imagenes/logoo.jpeg' %}" class="logop" alt="logo">
    </nav>
    <h2 class="ms-5">{{categoria}}</h2>
    <main id="categorias1">
         
        <div class="container cat">
            <div class="row">
                <div id="imgCat">

                    <div id="subimgCat">
                        <img  src="{% static 'imagenes/productos/1.jpeg' %}" alt="">
                        <div>
                        
                            <div>
                                <strong style=" font-size: 25px;">Nombre</strong>
                                <p style="font-style: italic; font-size: 17px;">producto 1</p>
                                <strong style=" font-size: 25px;">Precio</strong>
                                <p style="font-style: italic; font-size: 17px;">$00000</p>
                                <strong style=" font-size: 25px;">Categoria</strong>
                                <p style="font-style: italic;font-size: 17px;">Categoria 1</p>
                            </div>
    
                        </div>
    
                    </div>
    
                    <div id="subimgCat">
                        <img  src="{% static 'imagenes/productos/2.jpeg' %}" alt="">
                        <div>
                        
                            <div>
                                <strong style=" font-size: 25px;">Nombre</strong>
                                <p style="font-style: italic; font-size: 17px;">producto 1</p>
                                <strong style=" font-size: 25px;">Precio</strong>
                                <p style="font-style: italic; font-size: 17px;">$00000</p>
                                <strong style=" font-size: 25px;">Categoria</strong>
                                <p style="font-style: italic;font-size: 17px;">Categoria 1</p>
                            </div>
    
                        </div>
    
                    </div>
    
                </div>
            </div>

            <div class="row py-5">
                <div id="imgCat">

                    <div id="subimgCat">
                        <a href="{% url 'compras' 'Compras' %}" style=" margin-right: 5%;
                        margin-left: 0%;
                        width: 400px;">
                            <img style=" margin-right: 5%; margin-left: 3%; width: 362px;  " src="{% static 'imagenes/productos/4.jpeg' %}" alt="">
                        </a>
                        <div>
                        
                            <div>
                                <strong style=" font-size: 25px;">Nombre</strong>
                                <p style="font-style: italic; font-size: 17px;">producto 1</p>
                                <strong style=" font-size: 25px;">Precio</strong>
                                <p style="font-style: italic; font-size: 17px;">$00000</p>
                                <strong style=" font-size: 25px;">Categoria</strong>
                                <p style="font-style: italic;font-size: 17px;">Categoria 1</p>
                            </div>
    
                        </div>
    
                    </div>
    
                    <div id="subimgCat">
                        <img  src="{% static 'imagenes/productos/3.jpeg' %}" alt="">
                        <div>
                        
                            <div>
                                <strong style=" font-size: 25px;">Nombre</strong>
                                <p style="font-style: italic; font-size: 17px;">producto 1</p>
                                <strong style=" font-size: 25px;">Precio</strong>
                                <p style="font-style: italic; font-size: 17px;">$00000</p>
                                <strong style=" font-size: 25px;">Categoria</strong>
                                <p style="font-style: italic;font-size: 17px;">Categoria 1</p>
                            </div>
    
                        </div>
    
                    </div>
    
                </div>
            </div>
        </div>
        
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>