body{
    background: #336b74; 
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid grey;
    padding: 10px;
}
.logop{
    width: 150px;
    height: 130px;
    border-radius: 40%;
    margin-right: 10%;
    padding: 1%;
}
header{
   text-align: center;
   margin: 20px;
   justify-content: space-between;
   border-bottom: 3px solid grey;
}
button{
    border-color: grey;
}

main{
    text-align: 40px;
    margin: 1%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.photopropia{
    width: 200px;
    margin-right: 9%;
}

#informacionPersonal{
    display: flex;
    align-items: center;
}
#informacionPersonal img{
    margin-right: 20px;
    
}
.ts{
    display: inline-block;
    margin-right: 10px;
}
#info{
    margin-left: 10px;
    right: 5%;
    display: flex;
    flex-direction: column;
}
#info div{
    display: flex;
    align-items: center;
    right: 1%;
}
#logopoli2{
    float: left;
}

#log{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

input{
    outline: none;
    padding: 5px;
    margin-bottom: 20px;
}
h2{
    color: black;
    
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#registro{
    font-size: large;
    display: inline-block;
    margin-right: 2%;
}

.form {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
}

.forma strong {
    display: inline-block;
    width: 150px; 
    text-align: right;
    margin-right: 10px; 
}

.forma input {
    flex: 1;
}


.registrol {
    font-size: large;
    border-color: black;
    border-style:groove;
    margin: 10px;
    width: 100%;
}



#categorias{
    flex-direction: column;
}

#categorias1{
    flex-direction: column;
}

#categorias1 section{
    box-shadow: 0px 0px 10px;
    margin: 20px 0px;
    padding: 6%;
}

#categorias section{
    box-shadow: 0px 0px 10px;
    margin: 20px 0px;
    padding: 6%;
}

#imgCat{
    
    display: flex;
}
#imgCat img{
    
    margin-right: 7%;
    max-width: 500px;
}
#subimgCat{
    display: flex;
    margin-right: 7%;
}
#subimgCat img{
    margin-right: 5%;
    margin-left: 3%;
    width: 400px;
}
.cat{
    margin-right: 0%;
    padding-top: 3%;
}


.superpuesta {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s , transform 0.3s;
}
.superpuesta:hover{
    opacity: 1;
    transform:scale(1.2);
    z-index: 5;
}
.img1 {
    z-index:  1;
    margin: 0px;
    width: 400px;
    height: 300px;
}

.img2 {
    z-index: 2;
    margin: 45px;
    width: 400px;
    height: 300px;
}
.img3 {
    z-index: 3;
    margin: 100px;
    width: 400px;
    height: 300px;
}

