<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impuestos</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <style>
    
      body {
        background-color: #e6e6e6;
        font-family: 'Arial', sans-serif;
        color: #333;
      }
      .navbar-nav a.nav-link {
        color: black;
        transition: color 0.3s ease; 
      }
      .navbar-nav a.nav-link:hover {
        color: grey;
      }
      .superpuesta {
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity 0.3s , transform 0.3s;
    }
    .superpuesta:hover{
        opacity: 1;
        transform:scale(1.2);
        z-index: 5;
    }
    .img1 {
        z-index:  1;
        margin: 0px;
        width: 400px;
        height: 300px;
    }
    
    .img2 {
        z-index: 2;
        margin: 45px;
        width: 400px;
        height: 300px;
    }
    .img3 {
        z-index: 3;
        margin: 100px;
        width: 400px;
        height: 300px;
    }
    
    
  </style>
</head>
<body>
  <div class="hstack gap-3" style="background-color: #bebebe;">
    <div class=></div>
    <div class=" ms-auto"></div>
    <div class= "productos">Servicios Contables Ms</div>
  </div>  
  <nav class="navbar navbar-expand-lg " style="background-color: #bebebe;">
    <div class="container-fluid menu">
     
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <h4 class="mx-auto">Tu Futuro Financiero, Nuestro Objetivo!</h4>
        <div class="navbar-nav ms-auto px-5">
          <a class="nav-link active" aria-current="page" href="/"><strong class="fs-5">Inicio</strong></a>
          <a class="nav-link" href="/Servicios/"><strong class="fs-5">Servicios</strong></a>
        </div>
      </div>
    </div>
  </nav>

  <main id="categorias1 ">
    
    <div class="container-fluid py-5">

        <div class="row">

            <div class="col text-center">
                <div class="row">
                    <h2 style="font-style: italic; font-weight: bold;">Curso Impuestos</h2><br><br>
                    <p style="font-weight: 600;">
                        Sumérgete en el fascinante universo tributario con nuestro programa educativo integral. Desde los principios fundamentales hasta las estrategias fiscales más avanzadas, te ofrecemos un viaje educativo completo. Aprenderás a manejar tus obligaciones fiscales de manera eficiente, maximizando beneficios y minimizando riesgos. Con instructores expertos y enfoque práctico, este curso te proporcionará las herramientas esenciales para comprender y aplicar las leyes fiscales con confianza. ¡Inscríbete ahora y transforma tu comprensión de los impuestos!
                    </p>
                    <img class="py-3" style=" margin-right: 5%; margin-left: 15%; width: 400px;height: 300px;  " src="{% static 'imagenes/impuestos.jfif' %}" alt="">
                </div>
                <div class="row">
                    <p><span style="font-size:xx-large;">$500000</span></p>
                    <form class="py-2 row" style="display:inline-block">
                
                        <Strong style="height: 5px; font-weight:900">Cantidad: </Strong>
                        <input style="width: 60px;" name="cantidad" type="number" placeholder="#" required>
                        
                    </form>
                    <a href="/Servicios/" style="text-decoration: none;">
                        <button type="button" style="background-color: #007bff; color: #fff; border: 2px solid #007bff; border-radius: 5px; padding: 10px 20px; font-weight: 600; font-size: larger; cursor: pointer;">
                          Comprar
                        </button>
                    </a>
                </div>    

            </div> 

            <div class="col ms-5">
                <h2  style="font-style: italic; font-weight: bold;">Mas Productos</h2><br>
                <p style="font-weight: 600;">
                    Tenemos mas de 100 cursos y software para ti!! <br>
                    Visita nuestro apartado de servicios.
                </p>
                <div style="margin: 20px;">

                    <div style="position: relative;width: 100%; height: 100vh; overflow: hidden;">

                        <img src="{% static 'imagenes/natural.png' %}" alt="Imagen 1" class="superpuesta img1">
                        <img src="{% static 'imagenes/juridica.png' %}" alt="Imagen 2" class="superpuesta img2">
                        <img src="{% static 'imagenes/contabilidad.jfif' %}" alt="Imagen 3" class="superpuesta img3">
                        
                    </div>

            </div>

            </div>

        </div>

    </div>

    
  </main>
  
  <footer style="background-color: #f8f9fa; padding: 20px;">
    <div class="container">
        <div class="row">
            <h3>Contactenos</h3>
            <p>Para más información, no dudes en ponerte en contacto con nosotros.</p>

            <div style="margin-top: 20px;">
                <p><strong>Servicios Contables Ms</strong></p>
                <p>Teléfono: +123456789</p>
                <p>Correo electrónico: info@empresa.com</p>
            </div>
        </div>
    </div>
  </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>