<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <style>
    
      body {
        background-color: #e6e6e6;
        font-family: 'Arial', sans-serif;
        color: #333;
      }
      .navbar-nav a.nav-link {
        color: black;
        transition: color 0.3s ease; 
      }
      .navbar-nav a.nav-link:hover {
        color: grey;
      }
    
  </style>
</head>
<body>
  <div class="hstack gap-3" style="background-color: #bebebe;">
    <div class=></div>
    <div class=" ms-auto"></div>
    <div class= "productos">Servicios Contables Ms</div>
  </div>  
  <nav class="navbar navbar-expand-lg " style="background-color: #bebebe;">
    <div class="container-fluid menu">
     
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <h4 class="mx-auto">Tu Futuro Financiero, Nuestro Objetivo!</h4>
        <div class="navbar-nav ms-auto px-5">
          <a class="nav-link active" aria-current="page" href="/"><strong class="fs-5">Inicio</strong></a>
          
        </div>
      </div>
    </div>
  </nav>

  <main>
    <div class="container ">
        <div class="row text-center py-5">
            <h1 style="font-style:oblique;">NUESTROS SERVICIOS</h1>
        </div>
        <div class="row py-3 d-flex justify-content-evenly">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'imagenes/impuestos.jfif' %}" class="card-img-top" alt="..." style="height:220px;width:260px;">
                <div class="card-body text-center">
                  <h5 class="card-title">Curso Impuestos</h5><hr>
                  <p class="card-text">
                    Conviértete en un experto en impuestos. Aprende de forma rápida y práctica. ¡Inscríbete ya!
                  </p>
                  <a href="{% url 'compras' 'Impuestos' %}" class="btn btn-primary">Ver</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="{% static 'imagenes/megactivo.jfif' %}" class="card-img-top" alt="..." style="height:220px;width:260px;">
                <div class="card-body text-center">
                  <h5 class="card-title">Software Megactivo</h5><hr>
                  <p class="card-text">Maximiza tu contabilidad con MegActivo. ¡Simple, eficiente, poderoso!</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="{% static 'imagenes/office.jfif' %}" class="card-img-top" alt="..." style="height:220px;width:260px;">
                <div class="card-body text-center">
                  <h5 class="card-title">Software world Office</h5><hr>
                  <p class="card-text">Tu aliado para una gestión empresarial eficiente y sin complicaciones. ¡Descúbrelo ahora!</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>

        <div class="row py-3 d-flex justify-content-evenly">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'imagenes/siesa.png' %}" class="card-img-top" alt="..." style="height:220px;width:260px;">
                <div class="card-body text-center">
                  <h5 class="card-title">Software Siesa</h5><hr>
                  <p class="card-text">Potencia tu empresa con una gestión integral y efectiva. Descubre la solución que tu negocio necesita.</p>
                  <a href="{% url 'compras2' 'Siesa' %}" class="btn btn-primary">Ver</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="{% static 'imagenes/sigo.png' %}" class="card-img-top" alt="..." style="height:220px;width:260px;">
                <div class="card-body text-center">
                  <h5 class="card-title">Software Siigo</h5><hr>
                  <p class="card-text">Transforma tu gestión empresarial. Simplicidad, eficacia y control en una solución. ¡Optimiza tu camino al éxito con Siigo!</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="{% static 'imagenes/tributaria.jfif' %}" class="card-img-top" alt="..." style="height:220px;width:260px;">
                <div class="card-body text-center">
                  <h5 class="card-title">Curso De Tributaria</h5><hr>
                  <p class="card-text">Domina la tributación con nuestro curso experto. Aprende de manera práctica y eficiente. ¡Inscríbete ahora!</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>

        <div class="row py-3 d-flex justify-content-evenly">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'imagenes/contabilidad.jfif' %}" class="card-img-top" alt="..." style="height:220px;width:260px;">
                <div class="card-body text-center">
                  <h5 class="card-title">Curso De Contabilidad</h5><hr>
                  <p class="card-text">Conviértete en un experto contable. Aprende con nosotros de forma rápida y sencilla. ¡Inscríbete y avanza en tu carrera!</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="{% static 'imagenes/natural.png' %}" class="card-img-top" alt="..." style="height:220px;width:260px;">
                <div class="card-body text-center">
                  <h5 class="card-title">Curso Renta Natural</h5><hr>
                  <p class="card-text">Optimiza tu declaración de renta personal. Descubre estrategias y maximiza tus beneficios fiscales. ¡Inscríbete hoy!</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="{% static 'imagenes/juridica.png' %}" class="card-img-top" alt="..." style="height:220px;width:260px;">
                <div class="card-body text-center">
                  <h5 class="card-title">Curso Renta Juridica</h5><hr>
                  <p class="card-text">Gestiona la declaración de renta para tu empresa. Aprende con nuestro curso especializado. ¡Potencia tu conocimiento fiscal!</p>
                  <a href="#" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
    </div>
  

  </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>